db = db.getSiblingDB('YourDBName');
db.createUser(
  {
    user: 'YourUsernameHere',
    pwd: 'PasswordHere',
    roles: [{ role: 'readWrite', db: 'safetalk_db' }],
  },
);

//exclude example at the end of file