NODE_ENV=development

SERVER_HOST=http://localhost
SERVER_PORT=5000

CLIENT_HOST=http://localhost
CLIENT_PORT=3000

DB_HOST=safetalk_db
DB_PORT=27017
REPLICA_1=safetalk_db_replica_1
REPLICA_1_PORT=27018
REPLICA_2=safetalk_db_replica_2
REPLICA_2_PORT=27019
DB_NAME=
DB_USER=
DB_PASS=
MONGO_URI=

JWT_SECRET=

JWT_ROOM_SECRET=

SESSION_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_PUBLIC_KEY=
AWS_CLOUDFRONT_DOMAIN=