NODE_ENV=development

SERVER_HOST=http://localhost
SERVER_PORT=5000

CLIENT_HOST=http://localhost
CLIENT_PORT=3000

DB_HOST=safetalk_db
DB_PORT=27017
REPLICA_1=safetalk_db_replica_1
REPLICA_1_PORT=27018
REPLICA_2=safetalk_db_replica_2
REPLICA_2_PORT=27019
DB_NAME=safetalk_db
DB_USER=
DB_PASS=
# you can use the URI below, just replace the username and password with your own
# mongodb://YOUR_USERNAME:YOUR_PASSWORD@safetalk_db:27017,safetalk_db_replica_1:27018,safetalk_db_replica_2:27019/safetalk_db?authSource=admin&replicaSet=dbrs&readPreference=primary
MONGO_URI=

# Secret for JWT tokens, you can generate with this command: openssl rand 256 | base64
JWT_SECRET=
JWT_ROOM_SECRET=
SESSION_SECRET=

# AWS settings
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_PUBLIC_KEY=
AWS_CLOUDFRONT_DOMAIN=